<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <%# <a href="" class="brand-logo left">fasTrack</a> %>
    <div>
      <h1>fastrakk</h1>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%# <a class="navbar-item" href="https://i.imgur.com/IHB1qZE.jpg"> %>
      <img src="https://i.imgur.com/IHB1qZE.jpg" width="180" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        add a fast
      </a>

      <a class="navbar-item">
        add a food
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          more
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            about
          </a>
          <a class="navbar-item">
            past fasts
          </a>
          <a class="navbar-item">
            Contact
          </a>
          
       
        </div>
      </div>
    </div>
    <!-- new html below -->
    <form method="POST" action="/selects/new" size= "50px">
      <div class="fast">        
        <select name="fastSelect">
            <option value="Circardian">Circardian</option>x
            <option value="16:8 Intermittent">16:8 Intermittent</option>x
            <option value="18:6 Intermittent">18:6 Intermittent</option>x
            <option value="20:4 Intermittent">20:4 Intermittent</option>x
            <option value="36 Hour Fast">36 Hour Fast</option>x
        </select>
        <input type="submit" value="Submit">
      </div>
    </form>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/google"><i class="button is-light"></i>Login with Google</a>
          


        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="#">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Bulma</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon is-small">
          <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        <span>Documentation</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon is-small">
          <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
        </span>
        <span>Components</span>
      </a>
    </li>
    <li class="is-active">
      <a href="#">
        <span class="icon is-small">
          <i class="fas fa-thumbs-up" aria-hidden="true"></i>
        </span>
        <span>Breadcrumb</span>
      </a>
    </li>
  </ul>
</nav>


    

  </body>
</html>