<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
<%# <a href="" class="brand-logo left">fasTrack</a> %>
  <div>
  <h1>fastrakk</h1>
  </div>
 <!-- new html below -->
 <ul class="right">
 	<li>
 	<% if (user) { %>
 		<a href="/logout"><i class="button is-light"></i>Log Out</a>
 	<% } else { %>
 		<a href="/auth/google"></i>Login with Google</a>
 	<% } %>
 	</li>
 </ul>

  </body>
</html>


